<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>blog</title>
    <link rel="stylesheet" href="bower_components/amazeui/dist/css/amazeui.min.css"/>
</head>
<body>
<header class="am-topbar am-topbar-fixed-top">
    <div class="am-container">
        <h1 class="am-topbar-brand">
            <a href="#">blog</a>
        </h1>
        <div class="am-collapse am-topbar-collapse" id="collapse-head">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li><a href="/">主页</a></li>
                <li><a href="/post">发表</a></li>
                <li><a href="/logout">登出</a></li>
                <li><a href="/login">登录</a></li>
                <li><a href="/reg">注册</a></li>
            </ul>
        </div>
    </div>
</header>
<article>
    <br/><br/><br/>
    <% if(success){ %>
    <div><%= success %></div>
    <% } %>
    <% if(error){ %>
    <div><%= error %></div>
    <% } %>